{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gravity CRM| Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %}">
</head>
<body>

{% include "menu.html" %}

<div id="rightPanel" class="">
    <h1 id="headerName">Employees</h1>
{% include "header.html" %}

</div>
</body>
</html>