<div id="leftPanel" class="">
    <a href="/"><h2>GRAVITY CMS</h2></a>
    <menu id="ordersMenu" class="menu">

        <a id="navLink" class="" href="/dashboard/neworder">Create Order</a>
        <a id="navLink" class="" href="/dashboard/newcustomer">Create Customer</a>
        <a id="navLink" class="" href="/dashboard/orders">Orders</a>
        <a id="navLink" class="" href="/dashboard/products">Products</a>
        <a id="navLink" class="" href="/dashboard/employees">Employees</a>

    </menu>
    <menu id="productsMenu" class="menu">
        <h5></h5>
    </menu>
    <menu id="usersMenu" class="menu">
        <h5></h5>
    </menu>
    <menu id="usersMenu" class="menu">
        <h5></h5>
    </menu>
</div>