form,#recentOrders{
    border: 1px solid lightgrey;
    border-radius: 4px;
    width: 60%;
    margin: auto;
}
#recentOrders{
    width:100%;
}
form>h3,div>h3{
    text-align: left;
    padding: 10px;
    background-color: #222;
}
form>div{
    padding: 20px;

}
form>div>input,form>div>select{
    display: block;
    border: 2px solid #eee;
    color: #222;
    background: lightgrey;
    border-radius: 3px;
    width: 60%;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 7px;
}
form>div>select>option{
    padding:12px;
    color: #222;
    background: lightgrey;
}
input[type="submit"]:hover{
    background:grey;

}