{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gravity CRM| Login</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<form id="LoginForm" method="post">
    <h1>GRAVITY</h1>
    <div id="inputsGroup" class="">
        <input id="input" class="input" type="text" placeholder="User Name" />
        <input id="input" class="input" type="password" placeholder="Passcode" />
        
    </div>
    <input id="input" class="" type="submit" value="Log In >" />

    <footer>
        <p>
            GRAVITY SOFTWARE I
        </p>
    </footer>
    </form>
</body>
</html>